<%= form_with(model: companies_review, local: true) do |form| %>
  <% if companies_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(companies_review.errors.count, "error") %> prohibited this companies_review from being saved:</h2>

      <ul>
        <% companies_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :companies_id %>
    <%= form.number_field :companies_id %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
