<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Programming langue:</strong>
  <%= @company.programming_langue %>
</p>

<p>
  <strong>Vacancy:</strong>
  <%= @company.vacancy %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<p>
  <strong>Website link:</strong>
  <%= @company.website_link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>
<h2>Review List</h2>
<ul>
  <% @company.companies_review.each do |companies_review|%>
    <li><%= companies_review.review %>(<i><%= companies_review.user.name %></i>)</li>
  <% end %>
</ul>
<% if user_signed_in? %>
<h2>Review Form</h2>
 <%= form_with(model: @companies_review, local:true) do |form| %>
 <div class="field">
    <%= form.text_area:review %>
    <%= form.hidden_field :company_id, :value => @company.id %>
 </div>
 <div class="actions">
     <%= form.submit %>
 </div>
 <% end %>
 <% end %>
<% if user_signed_in? %>
<% if current_user.admin && current_user.admin %>
<%= link_to '編集', edit_company_path(@company) %> |

<% else %>
 <% end %>
 <% else %>
 <% end %>
  <%= link_to '戻る', companies_path %>
